<template>
  <div class="overflow-auto h-screen pb-24 pt-2 pr-2 pl-2 md:pt-0 md:pr-0 md:pl-0">
    <div class="flex flex-col flex-wrap sm:flex-row ">
      <div class="w-full">
        <div class="shadow-lg rounded-2xl p-4 bg-white dark:bg-gray-700 w-full">
          <div class="flex justify-center border bg-gray-200 rounded">
            <h2 class="py-2 font-bold uppercase">Заказ наряд клиента {{model.name}}</h2>
          </div>
          <div class="flex">
            <div class="pt-4 w-1/2">
              <div class="pb-2 flex items-center">
                <label class="w-32 inline-block font-bold uppercase mr-2" for="fio">Ф.И.О:</label>
                <input
                  v-model="model.name"
                  class="mr-4 rounded-lg border-transparent flex-1 appearance-none border border-gray-300 w-full py-1 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent" id="fio" placeholder="Петров Иван Иванович">
              </div>
              <div class="pb-2 flex items-center">
                <label class="w-32 inline-block font-bold uppercase mr-2" for="auto">Автомобиль:</label>
                <input
                  v-model="model.car"
                  class="mr-4 rounded-lg border-transparent flex-1 appearance-none border border-gray-300 w-full py-1 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent" id="auto" placeholder="ВАЗ2114">
              </div>
            </div>
            <div class="pt-4 w-1/2">
              <div class="pb-2 flex items-center">
                <label class="w-32 inline-block font-bold uppercase mr-2" for="phone">Телефон:</label>
                <input
                  v-model="model.phone"
                  class="mr-4 rounded-lg border-transparent flex-1 appearance-none border border-gray-300 w-full py-1 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent" id="phone" placeholder="+79271234567">
              </div>
              <div class="pb-2 flex items-center">
                <label class="w-32 inline-block font-bold uppercase mr-2" for="carNumber">Гос. номер:</label>
                <input
                  v-model="model.carNumber"
                  class="mr-4 rounded-lg border-transparent flex-1 appearance-none border border-gray-300 w-full py-1 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent" id="carNumber" placeholder="АЕ102А34">
              </div>
            </div>
          </div>
          <tableSpares title="Запчасти" :items="model.detail" :summ="model.sumDetails"/>
          <tableJobs title="Работа" :items="model.job" :summ="model.sumJobs"/>
          <div class="flex justify-between border-t">
            <div class="py-2 flex items-center w-1/3">
              <label class="inline-block font-bold uppercase mr-2" for="date">Дата:</label>
              <input type="date"
                     v-model="model.dataJobs"
                     class="mr-4 rounded-lg border-transparent appearance-none border border-gray-300 w-56 py-1 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent" id="date">
            </div>
            <div class="py-2 flex items-center w-1/4">
              <label class="inline-block font-bold uppercase mr-2" for="master">Мастер:</label>
              <input
                v-model="model.master"
                class="mr-4 rounded-lg border-transparent appearance-none border border-gray-300 w-full py-1 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent" id="master">
            </div>
            <div class="py-2 flex items-center justify-end w-1/3">
              <p class="font-bold uppercase">Общая стоимость работ:
                <span class="text-red-400" v-html="model.sumAll"></span>
                рублей</p>
            </div>
          </div>
          <div class="flex justify-end">
            <button
              @click.prevent="update(model, model._id)"
              class="flex-shrink-0 px-3 py-1.5 mr-4 text-base font-semibold text-white bg-green-600 rounded-lg shadow-md hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2 focus:ring-offset-green-200"
            >Изменить</button>
            <nuxt-link to="/client"
                       class="flex-shrink-0 px-4 py-2 text-base font-semibold text-white bg-red-600 rounded-lg shadow-md hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2 focus:ring-offset-red-200">Отмена</nuxt-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import tableSpares from '@/components/tableSpares'
import tableJobs from '@/components/tableJobs'
import {mapGetters,mapActions, mapMutations} from 'vuex'
export default {
  middleware: 'auth',
  name: '',
  components: {
    tableSpares,
    tableJobs
  },
  data() {
    return {
      model:  {
        name: "",
        car: "",
        phone: "",
        carNumber: "",
        detail: [{ name: "", quantity: null, price: null }],
        job: [{ name: "", price: null }],
        sumDetails: 0,
        sumJobs: 0,
        sumAll: 0,
        dataJobs: "",
        master: ""
      }
    }
  },
  computed: {
    ...mapGetters({
      client: 'client/item',
      clients: 'client/list',
    }),
    isUpdating: ({
       $route: {
         params: { id },
       },
     }) => id !== undefined,
    summD() {
      return this.model.detail.reduce((a, b) => {
        return Number(a) + Number(b.price)
      }, null)
    },
    summJ() {
      return this.model.job.reduce((a, b) => {
        return Number(a) + Number(b.price)
      }, null)
    },
    summAll() {
      return this.summD + this.summJ
    }
  },
  methods: {
    ...mapActions({
      getClient: 'client/fetchOne',
      getClients: 'client/fetchAll',
      updateClient: 'client/update',
    }),
    update(payload, id) {
      this.updateClient({payload, id})
      this.getClients()
      this.$router.push('/client')
    }
  },
 async mounted() {
    if (this.isUpdating) {
      await this.getClient(this.$route.params.id)
      this.model = { ...this.client }
      return
    }
  },
  watch: {
    summD() {
      this.model.sumDetails = this.summD
    },
    summJ() {
      this.model.sumJobs = this.summJ
    },
    summAll() {
      this.model.sumAll = this.summAll
    },
  }
}
</script>

<style scoped>

</style>