<template>
  <div
    class="overflow-auto h-screen pb-24 pt-2 pr-2 pl-2 md:pt-0 md:pr-0 md:pl-0"
  >
    <div class="flex flex-col flex-wrap sm:flex-row ">
      <div class="w-full">
        <div class="mb-4">
          <div class="shadow-lg rounded-2xl p-4 bg-white dark:bg-gray-700 w-full">

            <div class="container mx-auto px-4">
              <div class="py-8">
                <div class="flex flex-row mb-1 sm:mb-0 justify-between w-full">
                  <h2 class="text-2xl leading-tight">
                    Клиенты "Всея Руси" :)
                  </h2>
                  <div class="text-end">
                    <form class="flex w-full max-w-sm space-x-3">
                      <nuxt-link
                        class="flex-shrink-0 px-4 py-2 text-base font-semibold text-white bg-indigo-600 rounded-lg shadow-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-indigo-200"
                        to="/client/new">
                        Новый клиент
                      </nuxt-link>
                    </form>
                  </div>
                </div>
                <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-2 overflow-x-auto">
                  <div class="inline-block min-w-full shadow rounded-lg overflow-hidden">
                    <table class="min-w-full leading-normal">
                      <thead>
                      <tr>
                        <th scope="col"
                            class="px-5 py-2 bg-white  border-b border-gray-200 text-gray-800  text-left text-sm uppercase font-bold">
                          Ф.И.О.
                        </th>
                        <th scope="col"
                            class="px-5 py-2 bg-white  border-b border-gray-200 text-gray-800  text-left text-sm uppercase font-bold">
                          Авто
                        </th>
                        <th scope="col"
                            class="px-5 py-2 bg-white  border-b border-gray-200 text-gray-800  text-left text-sm uppercase font-bold">
                          Мастер
                        </th>
                        <th scope="col"
                            class="px-5 py-2 bg-white  border-b border-gray-200 text-gray-800  text-left text-sm uppercase font-bold">
                          Стоимость
                        </th>
                        <th scope="col"
                            class="px-5 py-2 bg-white  border-b border-gray-200 text-gray-800  text-left text-sm uppercase font-bold">
                          Дата
                        </th>
                        <th scope="col"
                            class="px-5 py-2 bg-white  border-b border-gray-200 text-gray-800  text-left text-sm uppercase font-bold">
                        </th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr v-for="item in clients" :key="item._id">
                        <td class="px-2 py-2 border-b border-gray-200 bg-white text-sm">
                          <div class="flex items-center">
                            <p class="text-gray-900 whitespace-no-wrap">
                              {{ item.name }}
                            </p>
                          </div>
                        </td>
                        <td class="px-2 py-2 border-b border-gray-200 bg-white text-sm">
                          <p class="text-gray-900 whitespace-no-wrap pb-2">
                            {{ item.car }} ({{ item.carNumber }})
                          </p>
                        </td>
                        <td class="px-2 py-2 border-b border-gray-200 bg-white text-sm">
                          <p class="text-gray-900 whitespace-no-wrap">
                            {{ item.master }}
                          </p>
                        </td>
                        <td class="px-2 py-2 border-b border-gray-200 bg-white text-sm">
                          <div class="text-gray-900 whitespace-no-wrap flex">
                            <p class="mr-2">Р: {{ item.sumJobs }}р.</p>
                            <p class="mr-2">З: {{ item.sumDetails }}р.</p>
                            <p class="mr-2">И: {{ item.sumAll }}р.</p>
                          </div>
                        <td class="px-2 py-2 border-b border-gray-200 bg-white text-sm">
                          <p class="text-gray-900 whitespace-no-wrap">
                            {{ item.dataJobs }}
                          </p>
                        </td>
                        <td class="px-2 py-2 border-b border-gray-200 bg-white text-sm">
                          <div class="flex">
                            <nuxt-link :to="'/client/' + item._id">
                              <svg
                                height="30"
                                class="text-blue-600 cursor-pointer hover:text-blue-400"
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 20 20"
                                fill="currentColor"
                              >
                                <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z"/>
                                <path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd"/>
                              </svg>
                            </nuxt-link>
                            <svg
                              @click="deleteItem(item._id)"
                              class="text-red-600 cursor-pointer hover:text-red-400"
                              height="30"
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 20 20"
                              fill="currentColor"
                            >
                              <path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd"/>
                            </svg>
                          </div>
                        </td>
                      </tr>
                      </tbody>
                    </table>
<!--                    <div class="px-2 bg-white py-2 flex flex-col xs:flex-row items-center xs:justify-between">-->
<!--                      <div class="flex items-center">-->
<!--                        <button type="button"-->
<!--                                class="w-full p-4 border text-base rounded-l-xl text-gray-600 bg-white hover:bg-gray-100">-->
<!--                          <svg width="9" fill="currentColor" height="8" class="" viewBox="0 0 1792 1792"-->
<!--                               xmlns="http://www.w3.org/2000/svg">-->
<!--                            <path-->
<!--                              d="M1427 301l-531 531 531 531q19 19 19 45t-19 45l-166 166q-19 19-45 19t-45-19l-742-742q-19-19-19-45t19-45l742-742q19-19 45-19t45 19l166 166q19 19 19 45t-19 45z">-->
<!--                            </path>-->
<!--                          </svg>-->
<!--                        </button>-->
<!--                        <button type="button"-->
<!--                                class="w-full px-4 py-2 border-t border-b text-base text-indigo-500 bg-white hover:bg-gray-100 ">-->
<!--                          1-->
<!--                        </button>-->
<!--                        <button type="button"-->
<!--                                class="w-full px-4 py-2 border text-base text-gray-600 bg-white hover:bg-gray-100">-->
<!--                          2-->
<!--                        </button>-->
<!--                        <button type="button"-->
<!--                                class="w-full px-4 py-2 border-t border-b text-base text-gray-600 bg-white hover:bg-gray-100">-->
<!--                          3-->
<!--                        </button>-->
<!--                        <button type="button"-->
<!--                                class="w-full px-4 py-2 border text-base text-gray-600 bg-white hover:bg-gray-100">-->
<!--                          4-->
<!--                        </button>-->
<!--                        <button type="button"-->
<!--                                class="w-full p-4 border-t border-b border-r text-base  rounded-r-xl text-gray-600 bg-white hover:bg-gray-100">-->
<!--                          <svg width="9" fill="currentColor" height="8" class="" viewBox="0 0 1792 1792"-->
<!--                               xmlns="http://www.w3.org/2000/svg">-->
<!--                            <path-->
<!--                              d="M1363 877l-742 742q-19 19-45 19t-45-19l-166-166q-19-19-19-45t19-45l531-531-531-531q-19-19-19-45t19-45l166-166q19-19 45-19t45 19l742 742q19 19 19 45t-19 45z">-->
<!--                            </path>-->
<!--                          </svg>-->
<!--                        </button>-->
<!--                      </div>-->
<!--                    </div>-->
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {mapGetters, mapActions} from 'vuex'
export default {
  middleware: 'auth',
  computed: {
    ...mapGetters({
      clients: 'client/list'
    })
  },
  methods: {
    ...mapActions({
      getAllClient: 'client/fetchAll',
      deleteClient: 'client/delete'
    }),
   async deleteItem(id) {
     await this.deleteClient(id)
     await this.getAllClient()
    }
  },
  async beforeMount() {
    await this.getAllClient()
  }
}
</script>

<style scoped></style>
