<template>
  <div class="overflow-auto h-screen pb-24 pt-2 pr-2 pl-2 md:pt-0 md:pr-0 md:pl-0">
    <div class="flex flex-col flex-wrap sm:flex-row ">
      <div class="w-full">
        <div class="shadow-lg rounded-2xl p-4 bg-white dark:bg-gray-700 w-full">
            <div class="flex justify-center border bg-gray-200 rounded">
              <h2 class="py-2 font-bold uppercase">Заказ наряд</h2>
            </div>
            <div class="flex">
              <div class="pt-4 w-1/2">
                <div class="pb-2 flex items-center">
                  <label class="w-32 inline-block font-bold uppercase mr-2" for="fio">Ф.И.О:</label>
                  <input
                    v-model="clients.name"
                    class="mr-4 rounded-lg border-transparent flex-1 appearance-none border border-gray-300 w-full py-1 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent" id="fio" placeholder="Петров Иван Иванович">
                </div>
                <div class="pb-2 flex items-center">
                  <label class="w-32 inline-block font-bold uppercase mr-2" for="auto">Автомобиль:</label>
                  <input
                    v-model="clients.car"
                    class="mr-4 rounded-lg border-transparent flex-1 appearance-none border border-gray-300 w-full py-1 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent" id="auto" placeholder="ВАЗ2114">
                </div>
              </div>
              <div class="pt-4 w-1/2">
                <div class="pb-2 flex items-center">
                  <label class="w-32 inline-block font-bold uppercase mr-2" for="phone">Телефон:</label>
                  <input
                    v-model="clients.phone"
                    class="mr-4 rounded-lg border-transparent flex-1 appearance-none border border-gray-300 w-full py-1 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent" id="phone" placeholder="+79271234567">
                </div>
                <div class="pb-2 flex items-center">
                  <label class="w-32 inline-block font-bold uppercase mr-2" for="carNumber">Гос. номер:</label>
                  <input
                    v-model="clients.carNumber"
                    class="mr-4 rounded-lg border-transparent flex-1 appearance-none border border-gray-300 w-full py-1 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent" id="carNumber" placeholder="АЕ102А34">
                </div>
              </div>
            </div>
          <tableSpares title="Запчасти" :items="clients.detail" :summ="summD"/>
          <tableJobs title="Работа" :items="clients.job" :summ="summJ"/>
          <div class="flex justify-between border-t">
            <div class="py-2 flex items-center">
              <label class="inline-block font-bold uppercase mr-2" for="date">Дата:</label>
              <input type="date"
                     v-model="clients.dataJobs"
                class="mr-4 rounded-lg border-transparent appearance-none border border-gray-300 w-56 py-1 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent" id="date">
            </div>
            <div class="py-2 flex items-center">
              <label class="inline-block font-bold uppercase mr-2" for="master">Мастер:</label>
              <input
                v-model="clients.master"
                class="mr-4 rounded-lg border-transparent appearance-none border border-gray-300 w-full py-1 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent" id="master">
            </div>
            <div class="py-2 flex items-center">
              <p class="font-bold uppercase">Общая стоимость работ:
                <span class="text-red-400" v-html="summAll"></span>
                рублей</p>
            </div>
          </div>
          <div class="flex justify-end">
            <button
              @click.prevent="addClient"
              class="flex-shrink-0 px-3 py-1.5 mr-4 text-base font-semibold text-white bg-green-600 rounded-lg shadow-md hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2 focus:ring-offset-green-200"
            >Добавить</button>
            <nuxt-link to="/client"
                       class="flex-shrink-0 px-4 py-2 text-base font-semibold text-white bg-red-600 rounded-lg shadow-md hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2 focus:ring-offset-red-200">Отмена</nuxt-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import tableSpares from '@/components/tableSpares'
import tableJobs from '@/components/tableJobs'
export default {
  middleware: 'auth',
  name: "new",
  components: {
    tableSpares,
    tableJobs
  },
  data() {
    return {
      clients: {
          name: "",
          car: "",
          phone: "",
          carNumber: "",
          detail: [{ name: "", quantity: null, price: null }],
          job: [{ name: "", price: null }],
          sumDetails: 0,
          sumJobs: 0,
          sumAll: 0,
          dataJobs: "",
          master: ""
        }
    }
  },
  computed: {
    summD() {
      return this.clients.detail.reduce((a, b) => {
        return Number(a) + Number(b.price)
      }, null)
    },
    summJ() {
     return this.clients.job.reduce((a, b) => {
        return Number(a) + Number(b.price)
      }, null)
    },
    summAll() {
      return this.summD + this.summJ
    }
  },
  methods: {
    addClient () {
      this.clients.sumDetails = this.summD
      this.clients.sumJobs = this.summJ
      this.clients.sumAll= this.summAll
      this.$store.dispatch('client/create', this.clients)
      this.$router.push('/client')
    }
  }
}
</script>

<style scoped>

</style>