<template>
  <div class="mb-4 mx-0 sm:ml-4 xl:mr-4">
    <div class="p-4 shadow-lg rounded-2xl bg-white dark:bg-gray-700 w-full">
      <h2 class="mb-2 flex justify-center font-bold uppercase">
        Перечень услуг в первом блоке
      </h2>
      <hr />
      <form @submit.prevent="addServiceList" class="flex">
        <input
          type="text"
          class="my-2 rounded-lg border-transparent appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-purple-600"
          v-model="serviceListItem.name"
        />
        <button
          type="submit"
          class="inline-block ml-2 my-2 py-2 px-4 bg-green-600 hover:bg-green-700 focus:ring-green-500 focus:ring-offset-green-200 text-white transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2  rounded-lg "
        >
          Добавить
        </button>
        <div
          v-if="successMessage"
          class="absolute bottom-0 right-0 bg-green-200 border-green-600 text-green-600 border-l-4 p-4"
          role="alert"
        >
          <p v-text="successMessage" />
        </div>
      </form>
      <hr />
      <ol class="mt-2">
        <li
          v-for="(item, index) in serviceList"
          :key="item.id"
          class="py-1 px-2 mb-2 bg-gray-100 flex justify-between items-center h-full"
        >
          <p v-if="!item.edit">- {{ item.name }}</p>
          <input
            type="text"
            class="my-2 rounded-lg border-transparent appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-purple-600"
            v-if="item.edit"
            v-model="item.name"
          />
          <div class="flex h-full items-center">
            <!--            подтверждение кнопка-->
            <svg
              v-if="item.edit"
              @click="updateServiceList(item)"
              xmlns="http://www.w3.org/2000/svg"
              class="text-green-500 hover:text-green-300 cursor-pointer"
              viewBox="0 0 20 20"
              fill="currentColor"
              width="30"
            >
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"
              />
            </svg>
            <!--            редактирование кнопка-->
            <svg
              v-if="!item.edit"
              @click="item.edit = true"
              class="text-blue-500 hover:text-blue-300 cursor-pointer"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              width="30"
            >
              <path
                d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z"
              />
              <path
                fill-rule="evenodd"
                d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z"
                clip-rule="evenodd"
              />
            </svg>
            <!--            удаление кнопка-->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              class="text-red-600 hover:text-red-300 cursor-pointer"
              viewBox="0 0 24 24"
              stroke="currentColor"
              width="30"
              @click="removeServiceListItem(item, index)"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
              />
            </svg>
          </div>
        </li>
      </ol>
    </div>
  </div>
</template>

<script>
export default {
  name: 'admServiceList',
  data() {
    return {
      serviceList: [],
      serviceListItem: { name: '' },
      editInputServiceList: false,
      successMessage: ''
    }
  }
}
</script>

<style scoped></style>
