<template>
  <div class="mb-4">
    <div class="shadow-lg rounded-2xl p-4 bg-white dark:bg-gray-700 w-full">
      <h2 class="mb-2 uppercase flex justify-center font-bold">
        {{ titleBlock }}
      </h2>
      <hr />

      <table class="w-full table p-2 bg-white rounded-lg">
        <thead>
          <tr>
            <th class="border-b-2 p-4 dark:border-dark-5 whitespace-nowrap font-normal text-gray-900">№</th>
            <th class="border-b-2 p-4 dark:border-dark-5 whitespace-nowrap font-normal text-gray-900">Наименование</th>
            <th class="border-b-2 p-4 dark:border-dark-5 whitespace-nowrap font-normal text-gray-900">Цена</th>
            <th class="border-b-2 p-4 dark:border-dark-5 whitespace-nowrap font-normal text-gray-900">Навигация</th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="(item, index) in services"
            :key="item.id"
            class="text-gray-700"
          >
            <td class="border-b-2 p-2 dark:border-dark-5">
              {{ index + 1 }}
            </td>
            <td class="border-b-2 p-2 dark:border-dark-5">
              <template v-if="!item.edit">{{ item.name }}</template>
              <input
                  v-if="item.edit"
                  v-model.lazy="item.name"
                  @change="change(item)"
              />
            </td>
            <td class="border-b-2 p-2 dark:border-dark-5">
              <template v-if="!item.edit">{{ item.price }}</template>
              <input
                  v-if="item.edit"
                  v-model.lazy="item.price"
                  @change="change(item)"
              />
            </td>
            <td class="border-b-2 p-2 dark:border-dark-5 flex justify-center">
              <svg
                v-if="item.edit"
                @click="serviceEdit(item, item._id)"
                height="40"
                class="btn-success"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"
                />
              </svg>
              <svg
                v-if="!item.edit"
                @click="item.edit = true"
                height="40"
                class="btn-edit"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z"/>
                <path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd"/>
              </svg>
              <svg
                @click="serviceRemove(item._id, item)"
                class="btn-delete"
                height="40"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd"/>
              </svg>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</template>
<script>
export default {
  name: "admPlus",
  props: ["titleBlock", "services", 'serviceEdit', 'serviceRemove'],
  computed: {
    serviceOne() {
      this.$store.state.service.item
    }
  },
  methods: {
    change(res) {
      this.$store.commit("service/updateItemSuccess", res);
    }
  }
};
</script>

<style lang="postcss" scoped>
input {
  @apply border-gray-300 rounded-lg border-transparent flex appearance-none border w-full py-1 px-4 bg-white
  text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-purple-600;
}

.btn-success {
  @apply text-green-600 hover:text-green-700;
}
.btn-edit {
  @apply text-blue-600 hover:text-blue-700;
}
.btn-delete {
  @apply text-red-600 hover:text-red-700;
}
</style>
