<template>
  <div class="p-4 mb-4 bg-white rounded-2xl flex w-full gap-2">
    <input
      v-model="services.name"
      type="text"
      class="w-1/2 rounded-lg border-transparent appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent"
      placeholder="Название услуги"
      required
    />
    <input
      v-model="services.price"
      type="text"
      class="w-1/3 rounded-lg border-transparent appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent"
      placeholder="Стоимость"
      required
    />
    <select
      v-model="services.category"
      class="block w-52 text-gray-700 py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-primary-500 focus:border-primary-500"
      name="category"
      required
    >
      <option disabled selected value="">Выбери категорию</option>
      <option value="diagnost">Диагностика</option>
      <option value="hodovay">Ремонт ходовой</option>
      <option value="jidkost">Замена жидкостей</option>
      <option value="dvigatel">Ремонт двигателя</option>
    </select>
    <button
      @click.prevent="create"
      type="button"
      class="py-2 px-4 w-60 bg-indigo-600 hover:bg-indigo-700 focus:ring-indigo-500 focus:ring-offset-indigo-200 text-white transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-lg"
    >
      Добавить
    </button>

    <div
      v-if="successMessage"
      class="absolute bottom-0 right-0 bg-green-200 border-green-600 text-green-600 border-l-4 p-4"
      role="alert"
    >
      <p class="font-bold">Успешно</p>
      <p>Услуга {{ services.name }} успешно добавлена!</p>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  name: "serviceCreate",
  data() {
    return {
      services: [],
      successMessage: false,
    };
  },
  methods: {
    ...mapActions({
      createService: "service/create",
      fetchService: "service/fetchAll",
    }),
    create() {
      this.createService({ ...this.services })
        .then(() => {
          this.successMessage = true;
          this.fetchService()
          this.services.name = ''
          this.services.price = ''
          this.services.category = ''
          setInterval(() => (this.successMessage = false), 3000);
        })
        .catch((e) => {
          console.log(e);
        });
    },
  },
};
</script>

<style scoped></style>
