<template>
  <div class="mb-4">
    <div class="shadow-lg rounded-2xl p-4 bg-white dark:bg-gray-700 w-full">
      <h2 class="flex justify-center font-bold">SEO</h2>
      <hr />
      <div class="grid grid-flow-col grid-cols-2 grid-rows-1 gap-4">
        <ul>
          <li class="flex items-center pt-2">
            <strong>Название сайта:</strong>
            <input :value="setting.title" @input="change('title', $event)" />
          </li>
          <li class="flex items-center pt-2">
            <strong>H1 сайта:</strong>
            <input :value="setting.h1" @input="change('h1', $event)" />
          </li>
          <li class="flex items-center pt-2">
            <strong>Описание сайта:</strong>
            <textarea
              :value="setting.description"
              @input="change('description', $event)"
              name="comment"
              rows="5"
              cols="40"
            ></textarea>
          </li>
        </ul>
        <ul>
          <li class="flex items-center pt-2">
            <strong>Адрес берлоги:</strong>
            <input
              :value="setting.address"
              @input="change('address', $event)"
            />
          </li>
          <li class="flex items-center pt-2">
            <strong>Телефон жулика:</strong>
            <input :value="setting.phone" @input="change('phone', $event)" />
          </li>
          <li class="flex items-center pt-2">
            <strong>Рабочее время:</strong>
            <input
              :value="setting.jobTime"
              @input="change('jobTime', $event)"
            />
          </li>
          <li class="flex items-center pt-2">
            <strong>Наши плюсы:</strong>
            <input
              :value="setting.plusJob"
              @input="change('plusJob', $event)"
              class="inputText"
            />
          </li>
          <button @click="update(setting, setting._id)" class="btn">
            Обновить
          </button>
        </ul>
      </div>
      <div v-if="successMessage" class="modalSuccess">
        <p class="font-bold">Удачно</p>
        <p>Данные успешно обновлены</p>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  name: "setting",
  data() {
    return {
      successMessage: false,
    };
  },
  computed: {
    ...mapGetters({
      setting: "setting/item",
    }),
  },
  methods: {
    ...mapActions({
      fetchSetting: "setting/fetchAll",
      updateSetting: "setting/update",
    }),
    change(name, e) {
      this.$store.commit("setting/updateItemSuccess", {
        name,
        value: e.target.value,
      });
    },
    update(payload, id) {
      this.updateSetting({ payload, id });
      this.successMessage = true;
      setTimeout(() => (this.successMessage = false), 3000);
    },
  },
  mounted() {
    this.fetchSetting();
  },
};
</script>

<style lang="scss" scoped>
li {
  strong {
    @apply pr-2 w-1/5;
  }

  input {
    @apply border-gray-300 rounded-lg border-transparent flex-1 appearance-none border w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-purple-600;
  }

  textarea {
    @apply flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 rounded-lg text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-purple-600;
  }
}

.modalSuccess {
  @apply bg-green-200 border-green-600 text-green-600 border-l-4 p-4 mt-3;
}

.btn {
  @apply inline-block mt-2 py-2 px-4 bg-green-600 hover:bg-green-700 focus:ring-green-500 focus:ring-offset-green-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2  rounded-lg;
}
</style>
