<template>
  <div class="w-full pb-4">
    <div class="flex justify-center border bg-gray-200 rounded">
      <h2 class="py-2 font-bold uppercase">{{ title }}</h2>
    </div>
    <table class="w-full">
      <thead>
        <tr>
          <th scope="col"
              class="px-5 py-3 bg-white  border border-gray-200 text-gray-800 text-sm uppercase font-bold text-center">
            №
          </th>
          <th scope="col"
              class="px-5 py-3 bg-white  border border-gray-200 text-gray-800 text-center text-sm uppercase font-bold">
            Наименование
          </th>
          <th scope="col"
              class="py-3 bg-white  border border-gray-200 text-gray-800 text-center text-sm uppercase font-bold">
            Кол-во
          </th>
          <th scope="col"
              class="py-3 bg-white  border border-gray-200 text-gray-800 text-center text-sm uppercase font-bold">
            Цена
          </th>
          <th scope="col"
              class="py-3 bg-white border-gray-200 text-gray-800 text-center text-sm uppercase">
            <button @click="add" class="text-3xl text-green-500">+</button>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item, index) in items" :key="index">
          <td class="py-2 border-b border-gray-200 bg-white text-sm text-center">
            {{ index + 1 }}
          </td>
          <td class="px-2 py-2 border-b border-gray-200 bg-white text-sm">
            <input
              v-model="item.name"
              class="rounded-lg border-transparent flex-1 appearance-none border border-gray-300 w-full py-1 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent"/>
          </td>
          <td class="py-2 border-b border-gray-200 bg-white text-sm text-center">
            <input
              v-model="item.quantity"
              class="rounded-lg border-transparent flex-1 appearance-none border border-gray-300 w-14 py-1 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent"/>
          </td>
          <td class="py-2 border-b border-gray-200 bg-white text-sm text-center">
              <input
                v-model="item.price"
                class="rounded-lg border-transparent flex-1 appearance-none border border-gray-300 w-24 py-1 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent"/>
          </td>
          <td class="py-2 border-b border-gray-200 bg-white text-sm text-center">
              <button @click="remove(index)" class="text-3xl text-red-500">-</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="flex justify-end mt-4 mr-4">
      <p class="font-bold uppercase">Итого: <span class="text-red-300">{{ summ }}</span> рублей</p>
    </div>
  </div>
</template>

<script>
export default {
name: "tableSpares",
  props: ['title', 'items', 'summ'],
  data() {
    return {
      temp: { name: "", quantity: null, price: 0 }
    }
  },
  methods: {
    add() {
      this.items.push({...this.temp})
    },
    remove(index){
      this.items.splice(index, 1)
    },
   }
}
</script>

<style scoped>

</style>