<template>
  <main
    class="pb-4 bg-gray-200 dark:bg-gray-800 rounded-2xl relative h-screen overflow-hidden relative"
  >
    <div class="flex items-start justify-between">
      <div
        class="h-64 overflow-hidden rounded-2xl lg:block my-4 ml-4 shadow-lg relative w-80"
      >
        <div class="bg-white h-full rounded-2xl dark:bg-gray-700">
          <div class="flex items-center justify-center pt-6">
            <nuxt-link to="/">
              <svg
                width="35"
                height="30"
                viewBox="0 0 256 366"
                version="1.1"
                preserveAspectRatio="xMidYMid"
              >
                <defs><linearGradient
                  x1="12.5189534%"
                  y1="85.2128611%"
                  x2="88.2282959%"
                  y2="10.0225497%"
                  id="linearGradient-1"
                >
                  <stop
                    stop-color="#FF0057"
                    stop-opacity="0.16"
                    offset="0%"
                  ></stop>
                  <stop stop-color="#FF0057" offset="86.1354%"></stop>
                </linearGradient>
                </defs>
                <g>
                  <path
                    d="M0,60.8538006 C0,27.245261 27.245304,0 60.8542121,0 L117.027019,0 L255.996549,0 L255.996549,86.5999776 C255.996549,103.404155 242.374096,117.027222 225.569919,117.027222 L145.80812,117.027222 C130.003299,117.277829 117.242615,130.060011 117.027019,145.872817 L117.027019,335.28252 C117.027019,352.087312 103.404567,365.709764 86.5997749,365.709764 L0,365.709764 L0,117.027222 L0,60.8538006 Z"
                    fill="#001B38"
                  ></path>
                  <circle
                    fill="url(#linearGradient-1)"
                    transform="translate(147.013244, 147.014675) rotate(90.000000) translate(-147.013244, -147.014675) "
                    cx="147.013244"
                    cy="147.014675"
                    r="78.9933938"
                  ></circle>
                  <circle
                    fill="url(#linearGradient-1)"
                    opacity="0.5"
                    transform="translate(147.013244, 147.014675) rotate(90.000000) translate(-147.013244, -147.014675) "
                    cx="147.013244"
                    cy="147.014675"
                    r="78.9933938"
                  ></circle>
                </g>
              </svg>
            </nuxt-link>
          </div>
          <nav class="mt-6">
            <div>
              <nuxt-link
                class="w-full font-thin uppercase text-blue-500 flex items-center p-4 my-2 transition-colors duration-200 justify-start border-r-4 hover:border-blue-500 dark:from-gray-700 dark:to-gray-800 border-r-4"
                active-class="bg-gradient-to-r from-white to-blue-100 border-blue-500"
                to="/client"
              >
                <span class="text-left">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01"
                    />
                  </svg>
                </span>
                <span class="mx-4 text-sm font-normal">
                  Клиенты
                </span>
              </nuxt-link>
              <nuxt-link
                class="w-full font-thin uppercase text-blue-500 flex items-center p-4 my-2 transition-colors duration-200 justify-start border-r-4  dark:from-gray-700 dark:to-gray-800 border-r-4 hover:border-blue-500"
                active-class="bg-gradient-to-r from-white to-blue-100 border-blue-500"
                to="/settings"
              >
                <span class="text-left">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"
                    />
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                    />
                  </svg>
                </span>
                <span class="mx-4 text-sm font-normal">
                  Настройки
                </span>
              </nuxt-link>
            </div>
          </nav>
        </div>
      </div>
      <div class="flex flex-col w-full pl-0 md:p-4 md:space-y-4">
        <header
          class="w-full shadow-lg bg-white dark:bg-gray-700 items-center h-16 rounded-2xl z-40"
        >
          <div
            class="relative z-20 flex flex-col justify-center h-full px-3 mx-auto flex-center"
          >
            <div
              class="relative items-center pl-1 flex w-full justify-end lg:max-w-68 sm:pr-2 sm:ml-0"
            >
              <div
                class="relative p-1 flex items-center justify-end ml-5 mr-4 sm:mr-0 sm:right-auto "
              >
                <button
                  @click.prevent="logout"
                           class="flex-shrink-0 px-4 py-2 text-base font-semibold text-white bg-red-600 rounded-lg shadow-md hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2 focus:ring-offset-red-200">
                  Выйти
                </button>
              </div>
            </div>
          </div>
        </header>
        <nuxt />
      </div>
    </div>
  </main>
</template>

<script>
export default {
  methods: {
    async logout() {
      localStorage.clear()
      this.$cookies.removeAll()
      this.$router.push('/login')
    },
  },
}
</script>
