<template>
  <div
    class="overflow-auto h-screen pb-24 pt-2 pr-2 pl-2 md:pt-0 md:pr-0 md:pl-0"
  >
    <div class="flex flex-col flex-wrap sm:flex-row ">
      <div class="w-full">
        <div class="mb-4">
          <div
            class="shadow-lg rounded-2xl p-4 bg-white dark:bg-gray-700 w-full h-screen flex justify-center items-center">
            <h2 class="text-4xl font-bold uppercase text-center">Добро пожаловать в админку "Всея Руси"</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {mapGetters, mapActions} from 'vuex'

export default {
  name: 'home',
  middleware: 'auth',
}
</script>

<style scoped></style>
