<template>
  <div class="h-screen flex justify-center items-center">
    <div
      class="flex flex-col w-full max-w-md px-4 py-8 bg-white rounded-lg shadow dark:bg-gray-800 sm:px-6 md:px-8 lg:px-10">
      <div class="self-center mb-6 text-xl font-light text-gray-600 sm:text-2xl dark:text-white">
        Войди в меня :)
      </div>
      <div class="mt-8">
        <FormValidator ref="authForm">
          <form @submit.prevent="onLogin">
            <FieldValidator
              name="email"
              rules="email|required"
              mode="lazy"
              slim
              v-slot="{ errors }"
            >
              <div class="flex flex-col mb-2">
                <div class="flex relative ">
                <span
                  class="rounded-l-md inline-flex  items-center px-3 border-t bg-white border-l border-b  border-gray-300 text-gray-500 shadow-sm text-sm">
                    <svg width="15" height="15" fill="currentColor" viewBox="0 0 1792 1792"
                         xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M1792 710v794q0 66-47 113t-113 47h-1472q-66 0-113-47t-47-113v-794q44 49 101 87 362 246 497 345 57 42 92.5 65.5t94.5 48 110 24.5h2q51 0 110-24.5t94.5-48 92.5-65.5q170-123 498-345 57-39 100-87zm0-294q0 79-49 151t-122 123q-376 261-468 325-10 7-42.5 30.5t-54 38-52 32.5-57.5 27-50 9h-2q-23 0-50-9t-57.5-27-52-32.5-54-38-42.5-30.5q-91-64-262-182.5t-205-142.5q-62-42-117-115.5t-55-136.5q0-78 41.5-130t118.5-52h1472q65 0 112.5 47t47.5 113z">
                        </path>
                    </svg>
                </span>
                  <input type="text"
                         v-model="loginForm.email"
                         class=" rounded-r-lg flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent"
                         placeholder="Your email"/>
                  <div
                    v-for="(error, key) in errors"
                    :key="`email-${key}`"
                    v-show="errors"
                    class="absolute -right-3/4 top-2 text-red-500"
                  >
                    {{ error }}
                  </div>
                </div>
              </div>
            </FieldValidator>
            <FieldValidator
              name="password"
              rules="required"
              mode="lazy"
              slim
              v-slot="{ errors }"
            >
              <div class="flex flex-col mb-6">
                <div class="flex relative ">
                <span
                  class="rounded-l-md inline-flex  items-center px-3 border-t bg-white border-l border-b  border-gray-300 text-gray-500 shadow-sm text-sm">
                    <svg width="15" height="15" fill="currentColor" viewBox="0 0 1792 1792"
                         xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M1376 768q40 0 68 28t28 68v576q0 40-28 68t-68 28h-960q-40 0-68-28t-28-68v-576q0-40 28-68t68-28h32v-320q0-185 131.5-316.5t316.5-131.5 316.5 131.5 131.5 316.5q0 26-19 45t-45 19h-64q-26 0-45-19t-19-45q0-106-75-181t-181-75-181 75-75 181v320h736z">
                        </path>
                    </svg>
                </span>
                  <input type="password"
                         v-model="loginForm.password"
                         class=" rounded-r-lg flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent"
                         placeholder="Your password"/>
                  <div
                    v-for="(error, key) in errors"
                    :key="`password-${key}`"
                    v-show="errors"
                    class="absolute -right-3/4 top-2 text-red-500"
                  >
                    {{ error }}
                  </div>
                </div>
              </div>
            </FieldValidator>
            <div class="flex w-full">
              <button type="submit"
                      class="py-2 px-4  bg-purple-600 hover:bg-purple-700 focus:ring-purple-500 focus:ring-offset-purple-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2  rounded-lg ">
                Войти
              </button>
            </div>

            <div v-if="loginFormError" class="bg-red-200 border-red-600 text-red-600 border-l-4 p-4 mt-6" role="alert">
              <p>{{ loginFormError }}</p>
            </div>
          </form>
        </FormValidator>

      </div>
    </div>
  </div>
</template>

<script>
import {ValidationObserver, ValidationProvider} from 'vee-validate'

export default {
  name: "login",
  layout: 'unauthorized',
  components: {
    FormValidator: ValidationObserver,
    FieldValidator: ValidationProvider,
  },
  data: () => ({
    loginForm: {
      email: '',
      password: '',
    },
    loginFormError: null,
  }),
  methods: {
    async onLogin() {
      const isCorrect = await this.$refs.authForm.validate()
      if (isCorrect) {
        try {
          const response = await this.$auth.loginWith('local', {
            data: this.loginForm,
          })
          this.$router.push('/')
        } catch (err) {
          console.log(err.response)
          this.loginFormError = err.response.data.message
        }
      }
    },
  }
}
</script>


