<template>
  <div
    class="overflow-auto h-screen pb-24 pt-2 pr-2 pl-2 md:pt-0 md:pr-0 md:pl-0"
  >
    <div class="flex flex-col flex-wrap sm:flex-row">
      <div class="w-full">
        <setting/>
      </div>
    </div>
    <div class="flex flex-col flex-wrap sm:flex-row">
      <div class="w-full pr-4">
        <service-create />
      </div>
      <div class="w-full sm:w-1/2 xl:w-1/2 pr-4">
        <serviceItem
          title-block="Диагностика"
          :services="diagnost"
          :service-edit="serviceEdit"
          :service-remove="serviceRemove"
        />
      </div>
      <div class="w-full sm:w-1/2 xl:w-1/2 pr-4">
        <serviceItem
            title-block="Ремонт ходовой"
            :services="hodovay"
            :service-edit="serviceEdit"
            :service-remove="serviceRemove"
        />
      </div>
      <div class="w-full sm:w-1/2 xl:w-1/2 pr-4">
        <serviceItem
          title-block="Замена жидкости"
          :services="jidkost"
          :service-edit="serviceEdit"
          :service-remove="serviceRemove"
        />
      </div>
      <div class="w-full sm:w-1/2 xl:w-1/2 pr-4">
        <serviceItem
            title-block="Ремонт двигателя"
            :services="dvigatel"
            :service-edit="serviceEdit"
            :service-remove="serviceRemove"
        />
      </div>
    </div>
    <div v-if="message.length > 0" class="absolute bottom-0 right-0 bg-green-200 border-green-600 text-green-600 border-l-4 p-4" role="alert">
      <p class="font-bold">
        Успешно
      </p>
      <p>
        {{message}}
      </p>
    </div>
  </div>
</template>

<script>
import setting from "~/components/setting";
import serviceItem from "~/components/serviceItem";
import ServiceCreate from "@/components/serviceCreate";
import {mapGetters, mapActions} from 'vuex'
export default {
  middleware: 'auth',
  name: "settings",
  components: { ServiceCreate, serviceItem, setting },
  data() {
    return {
      message: ''
    }
  },
  computed: {
    ...mapGetters({
      service: 'service/list'
    }),
    diagnost() {
      return this.service.filter( item => item.category == 'diagnost')
    },
    hodovay() {
      return this.service.filter( item => item.category == 'hodovay')
    },
    jidkost() {
      return this.service.filter( item => item.category == 'jidkost')
    },
    dvigatel() {
      return this.service.filter( item => item.category == 'dvigatel')
    },
  },
  methods: {
    ...mapActions({
      fetchService: 'service/fetchAll',
      update: 'service/update',
      remove: 'service/delete',
    }),
    serviceEdit (payload, id) {
      payload.edit = false
      this.update({payload, id})
      this.fetchService()
      this.message = `услуга ${payload.name} успешно изменина`
      setTimeout(() => this.message = '', 3000)
    },
    serviceRemove(id, payload) {
      this.remove(id).then(i => {
        this.fetchService()
        this.message = `услуга ${payload.name} успешно удалена`
        setTimeout(() => this.message = '', 3000)
      }).catch((e)=>{
        console.log(e)})
    },
    change(name, e) {
      this.$store.commit("service/updateItemSuccess", {
        name,
        value: e.target.value,
      });
    },
  },
  mounted() {
    this.fetchService()
  }
};
</script>

<style scoped></style>
